$black: #14181B;
$gray: #D3D3D3;
$dark-gray: #393939;
$light-gray: #595959;
$traditional-gray: #333;
$nav-gray: #4d4d4d;
$white: #fff;
$pink: #f6b3c5;
$gutter: 30px;
$gutter-sm: 15px;
$tablet: 73rem;
$mobile: 48rem;